body{
    background-color: rgb(228, 228, 228);
}
.heading{
    margin: -8px;
    padding: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #ccc;
    height: 40px;
}

.m{
    text-align: center;
    margin-top: 70px;
}

#message{
    font-size: large;
}
#msg{

  height: 30px;
  
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
}
.sub{
    margin-top: 30px;
    width:70px;
    height:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-align: center;
    margin-top: 80px;
}